@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

#infobutton {
    left: 25px;
    top: 25px;
    position: fixed;
    cursor: pointer;
}

#info {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    min-height: 50px;
    border-radius: 10px;
    overflow-wrap: break-word;
}

p#data {
    margin-bottom: 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

#innercontainer {
    font-family: 'Roboto', sans-serif;
}

#prefix {
    text-decoration: underline;
    text-align: center;
    font-weight: 500 !important;
    color: black;
}

@media screen and (min-width: 450px){
    #info {
        min-width: 450px;
        max-width: 95%;
    }
}

@media screen and (max-width: 449px){
    #info {
        width: 95%;
    }
}

#closeicon {
    position: absolute;
    left: 10px;
    cursor: pointer;
    top: 15px;
}