@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

#infobutton {
    left: 25px;
    top: 25px;
    position: fixed;
    cursor: pointer;
}

#prefix,
#innerdatacontainer strong,
svg,
br {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#info {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    min-height: 50px;
    border-radius: 10px;
    overflow-wrap: break-word;
}

p#data {
    margin-bottom: 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

#innercontainer {
    font-family: 'Roboto', sans-serif;
}

#prefix {
    text-decoration: underline;
    text-align: center;
    font-weight: 500 !important;
    color: black;
    font-size: 25px;
}

#container {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: min(100%, 950px);
}

#urlinput {
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    width: 300px;
}

#loadinfo {
    position: fixed;
    top: 55%;
    left: 50%;
    width: 360px !important;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

#message {
    position: fixed;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 450px) {
    #info {
        min-width: 450px;
        max-width: 95%;
    }
}

@media screen and (max-width: 449px) {
    #info {
        width: 95%;
    }
}

#closeicon {
    position: absolute;
    left: 10px;
    cursor: pointer;
    top: 12px;
}

@media (prefers-color-scheme: dark) {

    div#innercontainer,
    p#data,
    div#info,
    #data strong {
        color: rgb(218, 218, 218);
        background-color: rgb(37, 37, 37);
    }

    #prefix {
        border-bottom: 2px solid rgb(218, 218, 218);
    }

    div#info {
        border: 2px solid rgb(138, 138, 138);
    }

    div#info svg {
        fill: rgb(218, 218, 218);
    }

    body {
        background-color: rgb(20, 20, 20);;
    }

    .alert-danger {
        background-color: #92797c;
        color: #460f15;
    }
}